*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FF0000;
}

h1 {
	font-family: Noto Sans; 
	padding: 20px;

}
a {
	color: white;
	text-decoration: none;
	float: right;
	padding: 30px;
	font-family: Noto Sans; 

}

section {
	color: black;
	float: left;
	padding: 30px;
	text-decoration: none;
	font-family: Noto Sans; 
	text-align: left;

}
img {
	vertical-align: center;
}