*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #d10000;
	font-family: 'Noto Sans', sans-serif;
}
nav { float:right; }
section {
	color: #fff;
}
header p {
	float:left;
	margin: 20px;
}
nav a {
	color: white;
	text-decoration: none;
	margin: 30px;
}
