body {
	margin-left: 3px
	margin-top: 3px;

	background: url("../images/stripes.png") repeat-x, url("../images/background.jpg") no-repeat #525a6a;
	background-size:auto, cover;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
}
p {
}

hr {
	border-color:#fd6e6e;
	width: 100px;
	margin-left:0;
}
