*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E53935;
	font-family: 'Noto Sans', sans-serif;
	font-size:16px;
}
header img{
	float:left;
	width: 18em;
}
nav {
	float:right;	
}
img.button{
	width: 10em;
	height: 10em;
}

@media (max-width: 800){
	nav {
		width: 25%;
	}
}
@media (max-width: 400) {
	nav {
      width: auto;
   }
}
