body {
	background: url("../images/stripes.png") repeat-x, 
	url ("../images/background.png") no-repeat #fd6e6e;

}

p {
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

hr {
	border-color:#fd6e6e;
	width: 100px;
	margin-left:0;
}
