*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url("../images/twobeers.jpg") no-repeat;
	background-size: cover;

}

h1{
	margin-left: center; 
	font-family: 'Oswald', sans-serif; 
	margin-left: 40px;
	color: #fff;
}


font-family: 'Oswald', sans-serif;