*{
	margin: 0;
	padding: 0;
}
body{

	background: url("../images/twobeers.jpg") no-repeat;
	background-size:auto, cover;
}

h1{
	font-family: 'Oswald', sans-serif; 
	margin-left: 40px;
}


font-family: 'Oswald', sans-serif;